
#map_sec {


}

.banner {
    position: relative;
    width: 100%;
    padding: 160px 0 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner .banner-bg {
    position: absolute;
    top: 0;
    left: -10px;
    width: calc(100% + 10px);
    height: 100%;
    overflow: hidden;
}

.banner .banner-bg img {
    filter: blur(3px);
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}


.banner .banner-bg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;

}


.banner .G-container {
    position: relative;
    /*z-index: 10;*/
}


.banner h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.04em;
    color: #fff;
    text-align: center;
}

.banner .subtitle {
    font-size: 24px;
    letter-spacing: 0.04em;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 64px;
}

.banner .big-buttons {
    display: none;
}

@media screen and (max-width: 1440px) {
    .banner h1 {
        font-size: 40px;
    }

    .banner .subtitle {
        font-size: 24px;
        margin-top: 12px;
        margin-bottom: 52px;
    }

}

@media screen and (max-width: 911px) {
    .banner {
        padding-top: 100px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 1110px) {
    .banner h1 {
        font-size: 32px;
    }

    .banner .subtitle {
        font-size: 20px;
        margin-bottom: 32px;
    }

}

@media screen and (max-width: 911px) {
    .banner .banner-bg {
        display: none;
    }


    .banner h1,
    .banner .subtitle {
        color: #000000;
    }

    .banner .subtitle {

        margin-bottom: 50px;
    }

    .banner .big-buttons {
        display: flex;
        justify-content: center;
    }

    .banner .big-buttons .item {
        background: #FFFFFF;
        border-radius: 12px;
        padding: 20px;
        border: none;
        outline: none;
        text-decoration: none;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        cursor: pointer;

        flex-grow: 1;
        flex-basis: 0;


        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.04em;
        color: #000000;
    }

    .banner .big-buttons .item:first-child {
        margin-right: 15px;
    }

    .banner .big-buttons .item .icon {
        background-color: var(--blue);
        font-size: 32px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 760px) {
    .banner h1 {
        text-align: start;
    }

    .banner .subtitle {
        text-align: start;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 600px) {
    .banner h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .banner .subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        margin-top: 12px;
        margin-bottom: 24px;
    }
}