@charset "UTF-8";

:root {
  --black: #000000;
  --orange: #EA9926;
  --gray: #808080;
  --color-placehold: #B3B3B3;
  --blue: #3d81da;
  --blue-hover: #2E65AC;
  --red: #EB5757;
  --red-hover: #c94545;
  --container: 1672px;
  --bar-width: 18px;
  --bar-height: 2px;
  --bar-spacing: 5px;
}
