.flat-card-vertical {
    display: flex;
    flex-direction: column;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    padding: 16px;

    justify-content: space-between;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 12px;
}

.flat-card-vertical .flat-gallery {
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.flat-card-vertical .flat-gallery .photo-item {
    height: auto;
    padding: 0;
    max-height: 244px;
    margin-bottom: 0;

    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.flat-card-vertical .flat-gallery .photo-item img {
    max-height: none;
    width: 65%;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    height: 100%;
}

.flat-card-vertical .advantages {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 4px;
    grid-row-gap: 8px;
}

.flat-card-vertical .advantages .advantage-item {
    background: #F6F6F6;
    border-radius: 50px;
    padding: 8px 12px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: #000000;
    user-select: none;
    letter-spacing: 0.01px;
}

.flat-card-vertical .flat-info .info-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #000000;
    cursor: pointer;
    transition: color 0.2s ease;

    margin-bottom: 12px;
}

.flat-card-vertical .flat-info .subtitle {
    margin-bottom: 20px;
}

.flat-card-vertical .flat-info .subtitle .item {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    color: #20313B;
    position: relative;

    padding-left: 10px;
    margin-left: 6px;
}

.flat-card-vertical .flat-info .subtitle .item:first-child {
    margin-left: 0;
    padding-left: 0;
}

.flat-card-vertical .flat-info .subtitle .item:not(:first-child):before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: 4px;
    background-color: #20313B;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.flat-card-vertical .flat-info .link-to-jk {
    display: inline-block;
    margin-bottom: 16px;
}
.flat-card-vertical .flat-info .link-to-jk .name-jk {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;

    color: var(--blue);
}

.flat-card-vertical .flat-info .address {
    margin-bottom: 20px;
}

.flat-card-vertical .flat-info .address .location {
    margin-top: 0;
    margin-bottom: 0;
}

.flat-card-vertical .flat-info .address .location .place {
    margin-bottom: 11px;
}

.flat-card-vertical .flat-info .address .location > div {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.01px;
}

.flat-card-vertical .flat-info .address .location .walk-metro {
    margin-left: 12px;
}

.flat-card-vertical .flat-info .address .location .icon {
    font-size: 15px;
}

.flat-card-vertical .flat-info .price-wrapper {
    margin-bottom: 0;
}

.flat-card-vertical .flat-info .price-wrapper .full-price {
    font-size: 20px;
}


@media screen and (max-width: 1024px) {
    .flat-card-vertical .flat-gallery .main-photos {
        height: 244px;
    }

    .flat-card-vertical .flat-info .subtitle {
        letter-spacing: 0.01px;
    }

    .flat-card-vertical .flat-info .location .place {
        margin-bottom: 9px;
    }

    .P-same-flats .flat-items .slider-arrows {
        display: none;
    }
}