@charset "UTF-8";

.G-header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    transform: translateY(0);
    transition: all 1s ease;

    background: #ffffff;
}

.G-header.hidden {
    transform: translateY(-100%);
}


.G-header .wrapper-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 22px 0;
}

.G-header .logo {
    display: flex;
}

.G-header .logo .logo-image {
    max-height: 36px;
}

.G-header .menu-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.G-header .menu-nav .menu-list {
    display: flex;
    grid-column-gap: 40px;
}

.G-header .menu-nav .menu-list .list-item {
}

.G-header .menu-nav .menu-list .list-item .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.04em;
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;

    padding: 5px 0;
}

.G-header .menu-nav .menu-list .list-item:hover .link {
    color: var(--blue);
}


.G-header .burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 3px;
    margin-left: auto;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    width: calc(var(--bar-width) + 6px);
    height: calc(var(--bar-height) + 12px + var(--bar-spacing) * 2);
}

.G-header .burger:focus {
    outline-width: 0;
}

.G-header .burger .line:before,
.G-header .burger .line:after,
.G-header .burger .line {
    width: var(--bar-width);
    height: var(--bar-height);
    border-radius: 2px;
    background: var(--black);
}

.G-header .burger .line:after {
    width: 18px;
}

.G-header .burger .line {
    position: relative;
    transition: all 0ms 300ms;
}

.G-header .burger.active .line {
    background: rgba(255, 255, 255, 0);
}

.G-header .burger .line:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: var(--bar-spacing);

    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.G-header .burger .line:after {
    content: "";
    position: absolute;
    left: 0;
    top: var(--bar-spacing);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), width 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.G-header .burger.active .line:after {
    top: 0;
    width: 18px;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.G-header .burger.active .line:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

@media screen and (max-width: 1440px) {
    .G-header .menu-nav .menu-list {
        grid-column-gap: 32px;
    }

    .G-header .menu-nav .menu-list .list-item .link {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .G-header .logo .logo-image {
        max-height: 32px;
    }

    .G-header .menu-nav .menu-list {
        grid-column-gap: 24px;
    }
}

@media screen and (max-width: 1010px) {

    .G-header .menu-nav {
        position: fixed;
        top: 55px;
        left: 0;
        background-color: #fff;
        width: 100%;
        padding: 20px 30px 50px;
        transform-origin: 0 0;
        transform: translate(-120%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        z-index: 100;
        border-radius: 0 0 10px 10px;
        color: #000;
        height: auto;

        box-shadow: 0 15px 17px #00000033;
    }

    .G-header.active .menu-nav {
        left: 0;
        transform: none;
    }

    .G-header .menu-nav .menu-list {
        flex-direction: column;
        grid-row-gap: 24px;
    }

    .G-header .menu-nav .menu-list .list-item .link {
        font-size: 16px;
    }

    .G-header .burger {
        display: flex;
    }
}

@media screen and (max-width: 911px) {
    .G-header .menu-nav {
        top: 50px;
    }

    .G-header .wrapper-container {
        padding: 10px 0;
    }
}
